@media screen and (max-width: 850px) {
	nav img {
		display: block;
	}
	
	.mnu1 {
		display: none;
		z-index: 1;
		position: absolute;
		background-color: white;
	}

	.mnu1 li {
		display: block;
		clear: both;
		z-index: 1;
		margin: 0.2em;
	}

	.mnu1 li:hover {
		font-weight: bold;
	}

	#topPic {
		top: 3em;
		width: 90%;
	}

}

@media screen and (max-width: 635px) {
	nav img {
		display: block;
	}

	.mnu1 {
		display: none;
		z-index: 1;
		position: absolute;
	}

	.mnu1 li {
		display: block;
		clear: both;
		z-index: 1;
		margin: 0.2em;
	}

	.mnu1 li:hover {
		font-weight: bold;
	}

	.tab-logo {
		width: 50%;
	}

	.tab-logo img {
		width: 70%;
	}

	.tab-logo p {
		color: yellow;
	}

	.tab-logo #logo-text {
		font-size: 0.8em;
	}

	article {
		top: 2em;
	}

	#about-content, .pic, .tab-art, #mail-contact {
		width: 95%;
		margin: 0 auto;
	}

	#about-content h1 {
		margin-bottom: 2em;
	}

	.logo-contact {
		display: none;
	}

	#contact {
		width: 70%;
	}
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	#logo {
		width: 25%;
	}

	#logo p { 
	font-size: 0.7em;
	}

	
	nav {
		width: 100%;
	}

	nav img {
		display: block;
		z-index: 1;
		padding-right: 1em;
	}

	.mnu1 {
		display: none;
		z-index: 1;
		position: absolute;
	}

	.mnu li {
		display: block;
		clear: both;
		z-index: 1;
		margin: 0.2em;
	}

	.mnu1 li:hover {
		font-weight: bold;
	}

	article, .picMe, .pic {
		width: 100%;
	}

	article{
		top: 3em;
	}
	
	#ttl1 {
		margin-top: 0em;
		margin-bottom: 0em;
	}
		
	.bodyText1:nth-child(n), #txt1, #txt2, #txt3, #txt4, #txt5 {
	top: auto;
	right: 0;
	}
	
}

@media print {
	body {
		background: white;
	}

	body, p, a, h3, ul, li {
		color: black;
	}

	nav, .pic, .picMe {
		display: none;
	}

	article {
		top: 0.5em;
	}
	
	.bodyText2 {
		background-color: white;
	}

}
