@keyframes txtBox {
from {
}
to {
	box-shadow: 0px 0px 15px 3px blue;
}
}

body {
	margin: 0px;
	padding: 0px;
	direction: rtl;
	max-width: 1080px;
	margin: 0 auto;
	text-align: right;
	background-color: white;
/*	background-image: url("../image/foot.png");
	background-size: 12%;
	background-attachment: fixed;
*/
	font-family: Tahoma, 'Times New Roman', Arial, sans-serif;
	font-size: 1em;
}

p, a, h3, ul, li, h1, h2 {
	margin: 0;
	padding: 0;
	/*	color: white; */
}

.container {
	position: relative;
	top: 10px;
	width: 75%;
}

.bdytxt {
	position: relative;
	top: 3em;
}

/* Menu style */

nav {
	position: absolute;
	top: 0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	right: 0px;
	width: 100%;
	float: right;
	border-bottom: 0.02em solid gray;
	margin-bottom: 0.02em;
	background-color: #63BFBF;  /*  תכלת  */
	border-radius: 10px;
}

nav img {
	display: none;
}

.mnu1 {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	display: block;
}

.mnu1 li {
	display: inline;
	float: right;
	list-style: none;
	margin: 1px;
	padding-left: 1em;
}

.mnu1 li a {
	text-align: center;
	display: block;
	padding: 0px;
	text-decoration: none;
}

.mnu1 li a:hover, .mainNavSelected {
	font-weight: bold;
	color: !important;
	border-bottom: 0.2em solid ;
}

.mnu1 li:hover .mnu2 {
	display: block;
	position: absolute;
	z-index: 1;
}

.mnu2 {
	display: none;
}

.mnu2 li {
	clear: both;
	width: 5em;
	background-color: white;
	z-index: 1;
}

.mnu2 li a {
	text-align: center;
	display: block;
	padding: 0px;
	text-decoration: none;
	border-bottom: 0.1em solid blue;
	/*	background: url(/Project/image/drawer-pic2.jpg) no-repeat;
	 background-size: cover;
	 */
}

/* End of menu style */

#logo {
	position: fixed;
	left: 1em;
	width: 25%;
	float: left;
	text-align: center;
	z-index: 1;
/*	font-family: 'Amatica SC', cursive, Tahoma, 'Times New Roman', Arial, sans-serif; */
	font-size: 1.0em;
}

#logo img {
	margin: auto;
	width: 100%;
}

#logo p {
	background-color: white;
	border: #0000FF solid 1px;
}

h1 {
	position: fixed;
	top: 0em;
	left: 0px;
	z-index: 2;'float: right;
	'width: 75%
}

#topPic {
	position: relative;
	top: 4em; 
	margin-bottom: 1em;
	width: 100%;
}

#ttl1 {
	font-family: 'Amatica SC', cursive, Tahoma, 'Times New Roman', Arial, sans-serif;
	font-size: 2.5em;
	position: relative;
	top: 1em;
	text-decoration: underline;
}

article {
	position: relative;
	top: 4em;
	height:24em;
	background: url(../image/bg-balls-3.jpg) repeat;	
}

.pic {
	width: 65%;
	'float: right;
	border-top: solid 2px yellow;
}

.picMe {
	width: 65%; 
	border-top : solid 2px yellow;
	clear: both;
}

.fontUnderline, .treatment {
	text-decoration: underline;
	font-weight:bold;
}

.bodyText1 {
	position: relative;
	float: right;
	display: inline-block;
	height: 10em;
	width: 10em;
	text-align: center;
	padding: 3em 3% 0em 3%;
	overflow: auto;
	font-size: 0.7em;
	background-color: #ffb84d;  
	margin: 0.5%;
	border-radius: 50%;
	color: white;
/*
	background-color: #FFBA0D; /*  כתום  */
	background-color: #FF2980; /* אדום  */
	background-color: #60087A;  /*  סגול  */
*/
}

#txt1 {
	background-color: #63BFBF;  /*  תכלת  */
}


#txt2 {
	top: 7em;
	background-color: #FF2980; /* אדום  */
}

#txt3 {
	top: 5em;
	right: 2em;
	background-color: #60087A;  /*  סגול  */
}

#txt4 {
	top: 18em;
	background-color: #63BFBF;  /*  תכלת  */
	right: -17em;
}

#txt5 {
	background-color: #FFBA0D; /*  כתום  */
	top: 3em;
	right: 3em;
	overflow: hidden;
}

.bodyText2 {
	position: relative;
	padding: 1em;
	background: url(../image/bg-balls-3.jpg) repeat;	
	margin: 0.5% 0.5% 0 0.5%;
	border:#0000FF solid 1px;
	border-radius: 10px;
}

.LineSpace{
	padding-top: 0.4em; 
}

.bodyText2 > h2 {
	font: bold 1.2em;
	position: relative;
	top: 0;
	right: 0;
}
/*
.bodyText2 > p {
	text-align: justify;
	text-justify: inter-word;
}
*/
.bodyText3 {
	position: relative;
	max-height:6.5em; 
	padding: 1em;
	margin: 0.5% 0.5% 0 0.5%;
	border:#0000FF solid 1px;
	border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
	background: url(../image/bg-balls-3.jpg) repeat;
}

.bodyText3:hover {
	max-height: none;
	background-image: none;
	background-color: #63BFBF;  /*  תכלת  */
}

.bodyText3 > h2 {
	font: bold 1.2em;
	position: relative;
	top: 0;
	right: 0;
}

.bodyText3 > p {
	text-justify: inter-word;
}

.con1 {
	text-align: left;
	
}

.bodyText1 a {
	padding-right: 1.5em;
}

.bodyText1:hover {
	animation-name: txtBox;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	overflow: auto;
}

.bodyTextPic {
	position: relative;
	padding: 1em;
	'background: lightblue;
	margin: 0.5% 0.5% 0 0.5%;
	border-radius: 10px;
	width: 20%;
}


#footerYael {
	position: relative;
	background: chartreuse;
	margin: 0.5%;
	border-radius: 0 15px 0 15px;
	padding-right: 1em;
}

footer {
	position: relative;
	top: 4em;
	clear: both;
}

footer p {
	background-color: #63BFBF;  /*  תכלת  */
	margin: 0.5%;
	border-radius: 0 15px 0 15px;
	padding-right: 1em;
}
